<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alt Delete {{ id }}</title>
</head>
<body>
    <table>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    <tr>
        <th>Email Address</th>
        <th>Created On</th>
        <th>Actions</th>
    </tr>
        {% for user in users  %}
         <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at }}</td>
            <td><a href="/alt/delete_alt/{{ user.id }}">Remove</a></td>
         </tr>

        {% endfor %}
    </table>
    <hr>
    <a href="/alt">Return to add page</a>
</body>
</html>